@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');

body {
    background-repeat: no-repeat;
    /* background: linear-gradient(#171717, #202020) fixed; */
    background-color: #1f1f1f; /* #202020 */
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(224, 224, 224);
    display: flex;
    font-weight: 300;
    align-items: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar { 
    display: none;
}

.column {
    flex: 50%;
}

header {
    font-size: 2em;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.feature {
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    font-size: 30px;
    line-height: 2;
}

input {
    background-color: #343434;
    border: none;
    font-size: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.4vh;
    color: white;
    padding: 2px;
}

#link {
    width: 34%;
}

#dptoken, #dpid {
    width: 8%;
}

a {
    text-decoration: underline;
    color: rgb(224, 224, 224);
}

#copy {
    background-color: #0e0e0e;
    border: 1px solid black;
    font-size: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.4vh;
    color: white;
}

#count-info, #mods-info, #wid-info {
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    background-color: #0e0e0eea;
    border-radius: 1vw;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    word-wrap: normal;
    box-sizing: border-box;
    padding: 3vw;
    flex-direction: column;
    visibility: hidden;
    font-size: 1vw;
    line-height: 1.5vw;
}

.code {
    background-color: #343434;
    white-space:nowrap;
    border-radius: 0.1vw;
}

.info-link {
    text-decoration: underline;
    cursor: pointer;
}
