@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

:root {
    --percent: 100%;
    --font-color: #FFFFFF;
    --back-color-1: #F57507;
    --back-color-2: #F59C07;
    --count-color: #f58807;
}

body {
    padding: 0;
    margin: 0;
    background: none;
}

* {
    font-family: 'Roboto', sans-serif;
    color: rgb(224,224,224);
}

#donategoal {
    margin-top: 2%;
    margin-left: 2%;
    width: 96%;
    height: 160px;
}

#donategoal > * {
    font-size: 50px;
    position: absolute;
    text-align: center;
    font-weight: 700;
    color: var(--font-color);
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

#background1, #background2 {
    top: 55px;
    width: 96%;
    height: 80px;
    border-radius: 5px;
}

#background1 {
    background-color: grey;
    
}

#background2 {
    background: linear-gradient(to right, var(--back-color-1), var(--back-color-2));
    clip-path: inset(0px var(--percent) 0px 0px);
    transition: clip-path 2s ease-in-out;
}

#title {
    top: -2px;
    transform: translate(-50%, 0%);
    left: 50%;
    white-space: nowrap;
    font-size: 44px;
}

#start {
    top: 128px;
    left: 10px;
}

#now {
    top: 66px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 96%;
}

#end {
    top: 128px;
    right: 10px;
}

#settings {
    background-color: #414141;
    width: 100%;
    text-align: center;
}

p {
    background-color: #2b2b2b;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 3px;
}

input {
    background-color: #313131;
    border: none;
    padding: 4px;
}

input[type="text"]{
    width: 60px;
}

#titlevalue {
    width: 140px;
}

input[type="number"] {
    width: 50px;
}

button {
    background-color: #c5c5c5;
    border: none;
    padding: 4px;
    color: rgb(37, 37, 37);
    font-size: 16px;
}

#titlecount {
    color: var(--count-color);
}
